.tr {
  display: grid;
  /* grid-template-columns: repeat(11, minmax(max-content, 1fr)); */
  grid-template-columns: repeat(13, minmax(max-content, auto));
}

.th {
  padding: 4% 1%;
  height: 50px;
  background: var(--color-background);
  position: sticky;
  top: 0;
  font-size: 1em;
  user-select: none;
  text-align: left;
  vertical-align: middle;
  display: flex;
  align-items: center;
  // align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--color-text-highlight);
  }
}

.td {
  /* 上边下边 | 左边右边 */
  padding: 4% 3%;
  font-size: 0.9em;
  max-width: 14em;
  min-width: 8em;
  word-wrap: break-word;
  word-break: break-all;
  cursor: default;
  text-align: left;
  vertical-align: middle;
  &:hover {
    color: var(--color-text-highlight);
  }
  font-family: var(--font-normal);
}

.td.odd {
  background: var(--color-row-odd);
}

/* download upload td cells */
.du {
  max-width: 4em;
  // min-width: 8em;
  text-align: c;
}

.sortIconContainer {
  display: inline-flex;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.rotate180 {
  transform: rotate(180deg);
}
